.jodit_theme_dark2 {
    --jd-color-background-default: #417505;
    --jd-color-border: #474025;
    --jd-color-panel: #5fd3a2;
    --jd-color-icon: #8b572a;
    --jd-color-background-overlay:#ced4da;;
}

